* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #e50829;
  --color-red-dark: #c1011e;
  --color-white-bg: #f1f1f1;
  --color-gray-100: #e9e9e9;
  --color-gray-200: #efe4e4;
  --color-gray-300: #dddddd;
  --color-gray-400: #a6a6a6;
  --color-green-100: rgb(55, 186, 55);
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.btn {
  background-color: var(--color-red);
  color: white;
  padding: 1.2rem 1.6rem;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
}
